@import "tailwindcss";

body {
      font-family: "Poppins", sans-serif;
      background-image: url('./assets/bg-v2.png');
}

.bangla {
      font-family: 'Noto Sans Bengali', sans-serif;
}
.font {
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}